:root {
    --space: 1.5em;
    --space-lg: 2em;
    --bg-color: hsl(150, 45%, 50%);
    --high-dppx: (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), (min-resolution: 1.5dppx);
}